:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  display: flex;
  justify-content: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: hsl(222, 26%, 31%);
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1440px;
}
body.theme1 {
  background-color: hsl(222, 26%, 31%);
}
body.theme2 {
  background-color: hsl(0, 0%, 90%);
}
body.theme3 {
  background-color: hsl(268, 75%, 9%);
}

#root {
  max-width: 1440px;
}

.main {
  font-family: "League Spartan", sans-serif;
  width: 525px;
  height: 750px;
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1.2fr) minmax(0, 5fr);
  gap: 1.8rem;
}

.header {
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: end;
}

.header p {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  align-self: end;
  height: 2rem;
}
.header.theme2 {
  color: hsl(60, 10%, 19%);
}

.header.theme3 {
  color: hsl(52, 100%, 62%);
}

.toggle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: end;
}

.toggle p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  height: 1.2rem;
}

.toggle-selector p {
  margin-left: 0.3rem;
  padding: 0.2rem;
  letter-spacing: 0.4rem;
}

.slider {
  background-color: hsl(223, 31%, 20%);
  width: 4rem;
  height: 1.5rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  margin: 0;
  border: none;
  border-radius: 1.5rem;
  justify-content: center;
  align-content: center;
}

.slider.theme2 {
  background-color: hsl(0, 5%, 81%);
}

.slider.theme3 {
  background-color: hsl(268, 71%, 12%);
}

#left {
  margin-left: 0.2rem;
}
#center {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
#right {
  margin-right: 0.2rem;
}

.active-theme {
  height: 1.1rem;
  width: 1.1rem;
  background-color: hsl(6, 63%, 50%);
  border-radius: 50%;
}

.slider:hover {
  filter: brightness(130%);
}

.output {
  background-color: hsl(224, 36%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  font-size: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.5rem;
}

.output.theme2 {
  background-color: hsl(0, 0%, 93%);
  color: hsl(60, 10%, 19%);
}

.output.theme3 {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}

.inputs {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  grid-template-rows:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr);
  background-color: hsl(223, 31%, 20%);
  grid-gap: 1.8rem;
  padding: 1.8rem;
  border-radius: 10px;
}

.inputs.theme2 {
  background-color: hsl(0, 5%, 81%);
}

.inputs.theme3 {
  background-color: hsl(268, 71%, 12%);
}

.btn {
  font-family: "League Spartan", sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:active {
  transform: translateY(4px);
}
.btn:hover {
  filter: brightness(130%);
}

.number {
  font-size: 2.5rem;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0px 4px hsl(28, 16%, 65%);
}

.number.theme2 {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  box-shadow: 0px 4px hsl(35, 11%, 61%);
}

.number.theme3 {
  background-color: hsl(268, 47%, 21%);
  color: hsl(52, 100%, 62%);
  box-shadow: 0px 4px hsl(290, 70%, 36%);
}

.operation {
  font-size: 2.5rem;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0px 4px hsl(28, 16%, 65%);
}

.operation.theme2 {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  box-shadow: 0px 4px hsl(35, 11%, 61%);
}

.operation.theme3 {
  background-color: hsl(268, 47%, 21%);
  color: hsl(52, 100%, 62%);
  box-shadow: 0px 4px hsl(290, 70%, 36%);
}

#delete {
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 4px hsl(224, 28%, 35%);
}

#delete.theme2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0px 4px hsl(185, 58%, 25%);
}

#delete.theme3 {
  color: hsl(0, 0%, 100%)
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0px 4px hsl(285, 91%, 52%);
}

#reset {
  font-size: 1.8rem;
  grid-row: 5 / 6;
  grid-column: 1 / 3;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 4px hsl(224, 28%, 35%);
}

#reset.theme2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0px 4px hsl(185, 58%, 25%);
}

#reset.theme3 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0px 4px hsl(285, 91%, 52%);
}

#equal {
  font-size: 1.8rem;
  grid-row: 5 / 6;
  grid-column: 3 / 5;
  color: hsl(0, 0%, 100%);
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 4px hsl(6, 70%, 34%);
}

#equal.theme2 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0px 4px hsl(25, 99%, 27%);
}

#equal.theme3 {
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0px 4px hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}

@media (max-width: 521px) {
  #root {
    max-width: 375px;
  }

  .main {
    font-family: "League Spartan", sans-serif;
    width: 350px;
    height: 625px;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1.2fr) minmax(0, 5fr);
    gap: 1.8rem;
  }

  .inputs {
    grid-gap: 1rem;
    padding: 1rem;
  }

  .number {
    font-size: 2rem;
  }

  .operation {
    font-size: 2rem;
  }

  #delete {
    font-size: 1.5rem;
  }

  #reset {
    font-size: 1.5rem;
  }
}
